



<div class="card mt-3">
    <div class="card-header">
      <div class="float-left">
        <h4>Produtos</h4>
      </div>
      <div class="float-right">
        <button type="button" class="btn btn-primary" [routerLink]="['novo']">Novo Produto</button>
        <button type="button" class="btn btn-secondary" (click)="onRefresh()">Atualizar</button>
      </div>
    </div>
    <div class="card-body">
      <!-- *ngIf="(produtosUm$ | async) as produtosUm; else loading" -->
      <!-- <table class="table table-hover" *ngIf="produtosUm$ | async as produtosUm; else loading"> -->
      <table class="table table-hover"  >
        <thead>
          <tr>
            <th>#</th>
            <th>Nome</th>
            <th>Categoria</th>
            <th>Foto</th>
            <th>Descricao</th>
            <th>Preco</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let curso of produtosUm$ | async as produtosUm" >
            <td>{{ curso.idProduto }}</td>
            <td>{{ curso.nome }}</td>
            <td>{{ curso.idCategoria }}</td>
            <td><img src="{{ curso.foto }}" width="100px" height="100px"></td>
            <td>{{ curso.descricao }}</td>
            <td>{{ curso.preco }}</td>
            <td>
              <span class="float-right">
                <!-- (click)="onEdit(curso.id)" -->
                <button class="btn btn-outline-warning mb-1 btn-sm" (click)="onEdit(curso.idProduto)">
                  Atualizar
                </button>
                <button class="btn btn-outline-danger mb-1 btn-sm" (click)="onDelete(curso.idProduto)" >
                  Remover
                </button>
              </span>
            </td>
          </tr>

          <tr *ngFor="let curso of produtosDois$ | async as produtosDois" >
            <td>{{ curso.idProduto }}</td>
            <td>{{ curso.nome }}</td>
            <td>{{ curso.idCategoria }}</td>
            <td><img src="{{ curso.foto }}" width="100px" height="100px"></td>
            <td>{{ curso.descricao }}</td>
            <td>{{ curso.preco }}</td>
            <td>
              <span class="float-right">
                <button class="btn btn-outline-warning mb-1 btn-sm" (click)="onEdit(curso.idProduto)">
                  Atualizar
                </button>
                <button class="btn btn-outline-danger mb-1 btn-sm" (click)="onDelete(curso.idProduto)" >
                  Remover
                </button>
              </span>
            </td>
          </tr>
        </tbody>
      </table>


      <ng-template #loading>
        <div *ngIf="error$ | async; else loadingNoError">
          Erro ao carregar produtosUm. Tente novamente mais tarde.
        </div>
        <ng-template #loadingNoError>
          <span>Carregando produtosUm...</span>
        </ng-template>
      </ng-template>

    </div>
  </div>
